.board-container {
    background-color: white;
    position: relative;
    /* border: 1px solid black; */
    box-shadow: 2px;
    border-radius: 5px;
    width: 190px;
    height: 90px;
    margin: 20px;
    text-align: center;
    cursor: none;
}

.custom-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    color: blue;
}

.edit-icon {
    position: absolute;
    right: 27px;
    top: 0;
}
