.Lifecycle {
  width: 300px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding:0px 8px 10px;
  background-color: whitesmoke;
  max-height: 80vh;
    overflow: auto;

}

.Lifecycle h3 {
  margin:10px 0px;
  color:dimgrey;
}

.Lifecycle h3 span{
  margin-right: 10px;
}


