.didNotUpvote {  
  padding: 5px 0;
  padding-left: 8px;
  padding-right: 10px;
  font-size: 0.8rem;
  display: inline-flex;
  color: #777; 
  font-weight: 500;
}

.upvoted {  
  padding: 5px 0;
  padding-left: 8px;
  padding-right: 10px;
  font-size: 0.8rem;
  display: inline-flex;
  color:cornflowerblue; 
}

.didNotUpvote .upvoteCount {
  font-weight: bold;
  color: #999;
}

.upvoted .upvoteCount {
  font-weight: bold;
  color: cornflowerblue;
}

.divider {
  margin: 0 5px;
}
